<p>gallery works!</p>
<div *ngIf="chapter">
  <tl-chapter-title [title]="chapter.chapterTitle"></tl-chapter-title>

  <tl-nav-buttons
    [prevPageUrl]="chapter.previousPageUrl ? chapter.previousPageUrl : '/'"
    [nextPageUrl]="chapter.nextPageUrl ? chapter.nextPageUrl : '/'"
  ></tl-nav-buttons>

  <tl-background
    [imgSrc]="
      chapter.backgroundImgUrl
        ? chapter.backgroundImgUrl
        : '/assets/images/background/bg-1.jpg'
    "
    [altText]="chapter.chapterTitle"
  ></tl-background>

  <h1>{{ chapter.chapterTitle }}</h1>
  <p>{{ chapter.title }}</p>
  <p>{{ chapter.mainText }}</p>
</div>
